<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer"
  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous"
        referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="homepage.component.css">
  <link rel="icon" sizes="32x32" href="apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon.png">
  <title>Paws Animal Shelter</title>
</head>

<body>

<!--Header-->
<section id="header">
  <div class="header">
    <div class="container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>P</span>aws <span>A</span>nimal <span>S</span>helter </h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="#hero" data-after="Home">Home</a></li>
            <li><a href="#services" data-after="Adopt">Adopt</a></li>
            <li><a href="#projects" data-after="Animals">Animals</a></li>
            <li><a href="#about" data-after="About">About</a></li>
            <li><a href="#quiz" data-after="Quiz">Quiz</a></li>
            <li><a href="#events" data-after="Events">Events</a></li>
            <li><a href="#contact" data-after="Contact">Contact</a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Header-->

<!--Hero Section-->
<section id="hero">
  <div class="hero container">
    <div>
      <h1>Our Mission<span></span></h1>
      <br>
      <h3>We aim to find the best companions<span></span></h3>
      <h3>for homless pets in need<span></span></h3>
      <a href="#services" type="button" class="cta">ADOPT</a>
    </div>
  </div>
</section>
<!-- End Hero Section-->

<!--Service Section-->
<section id="services">
  <div class="service container">
    <div class="service-top">
      <h1 class="section-title">These lovely <span>souls are waiting</span> for you!</h1>
      <p>Hey! We are the little animals from this cute shelter. We are looking for a new house, with a welcoming and loving family. We are waiting for you!🐾</p>
    </div>
    <div class="about-img">
      <img src="./Imagini/img5.jpg" alt="img">
    </div>
  </div>
</section>
<!-- End Service Section-->

<!--- Projects Section -->
<section id="projects">
  <div class="projects container">
    <div class="projects-header">
      <div>
        <h1>B<span>log</span></h1>
        <h3>Ce spun clienții
          <br> PENTRU CĂ ANIMALELE DE COMPANIE NU VĂ POT SPUNE IMPRESIILE LOR &#129505</h3>
      </div>
      <div class="all-project"></div>
      <div class="item-holder row">

        <div class="project-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="box-holder">
            <a href=" " class="project-img">
              <img src="./Imagini/lucky.png" alt="img">
            </a>
            <div class="project-info">
              <a href=" " class="title">Lucky</a>
              <p class="age">Age: 7m <br>20.02.2021
                <br>Ne bucurăm foarte mult că am ales să facem parte din această comunitate. Toți au fost foarte drăguți cu noi cu ne-au ajutat sa alegem un animăluț exact cum ne-am dorit.</p>
            </div>
          </div>
        </div>

        <div class="project-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="box-holder">
            <a href=" " class="project-img">
              <img src="./Imagini/lance.png" alt="img">
            </a>
            <div class="project-info">
              <a href=" " class="title">Lance</a>
              <p class="age">
                Age: 1y 7m <br>10.05.2021
                <br>De mult ne-am dorit un animal de companie și cu ajutorul lui "Paws Animal Shelter", am reușit să ne găsim cel mai potrivit animal și anume pe Lance.
                <br> Mulțumim mult!
              </p>
            </div>
          </div>
        </div>

        <div class="project-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="box-holder">
            <a href=" " class="project-img">
              <img src="./Imagini/terry.png" alt="img">
            </a>
            <div class="project-info">
              <a href=" " class="title">Ziggy</a>
              <p class="age">Age: 2y 1m <br>13.05.2021
                <br>Ziggy e cel mai drăguț cățeluș din lume. Muțumită acestui loc ,"Paws Animal Shelter" , am reușit să înțelegem cât de frumos e să salvezi un asemenea suflet.
                <br> Vă mulțumim mult!
                <br>
              </p>
            </div>
          </div>
        </div>

        <div class="project-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="box-holder">
            <a href=" " class="project-img">
              <img src="./Imagini/zippo.png" alt="img">
            </a>
            <div class="project-info">
              <a href=" " class="title">Zippo</a>
              <p class="age">Age: 8m <br> 15.08.2021
                <br>Ne-a făcut placere să facem parte din acest proces de alegere a animalului de companie potrivit. Dacă nu știi exact ce îți dorești , Quiz-ul a fost de ajutor.Multumim mult!
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Banner Section-->
<section id="banner">
  <div class="banner container">
    <div>
      <h1><span>O</span>ur <span>E</span>vents</h1>
    </div>
    <div class="expertise">
      <img src="./Imagini/icons8-collar-64.png">
      <p><b>Ateliere creative<br></b></p>
      <small>Citeste mai mult</small>
    </div>
    <div class="expertise">
      <img src="./Imagini/icons8-paws-64 (1).png">
      <p><b>Lectii private</b><br></p>
      <small>Citeste mai mult</small>
    </div>
    <div class="expertise">
      <img src="./Imagini/icons8-dog-heart-64.png">
      <p><b>Weekend de joaca</b><br></p>
      <small>Citeste mai mult</small>
    </div>
    <div class="expertise">
      <img src="./Imagini/icons8-trophy-64.png">
      <p><b>Concursuri cu premii</b></p>
      <small>Citeste mai mult</small>
    </div>
    <div class="expertise">
      <img src="./Imagini/icons8-walking-64.png">
      <p><b>Weekend de plimbari</b></p>
      <small>Citeste mai mult</small>
    </div>
  </div>
</section>
<!--End Banner Section-->

<!--About Section-->
<section id="about">
  <div class="about container">
    <div class="col-left">
      <div class="about-img">
        <img src="./Imagini/img-2.png" alt="img">
      </div>
    </div>
    <div class="col-right">
      <h1 class="section-title">About <span>Us</span></h1>
      <h2>Paws Animal Shelter</h2>
      <p>
        Suntem o familie iubitoare. Fiecare cățel de care avem grijă, este iubitor și abia așteaptă să te cunoască. Dacă ați ales deja un cățel, voluntarii noștri vă vor contacta pentru a programa o vizită la adăpostul de animale și a finaliza procedura de adopție.🐾
      </p>
      <a href="#" class="cta">Details</a>
    </div>
  </div>
</section>
<!--End About Section-->

<!---Map Section-->
<div class="mapouter">
  <div class="gmap_canvas">
    <h1> Unde <span>ne</span> găsiți! &#127759</h1>
    <iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=660&amp;height=400&amp;hl=en&amp;q=Cluj Napoca&amp;t=&amp;z=11&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
  </div>
</div>
<!--End Map Section-->

<!--Footer-->
<section id="footer">
  <div class="footer container">
    <div class="brand">
      <h1><span>A</span>nimal <span>S</span>helter</h1>
    </div>
    <h2>You won't change the world by saving an animal, but you will change that pet's world for sure</h2>
    <div class="social-icon">
      <div class="social-item">
        <a href="#"><img src="./Imagini/icons8-facebook-50.png"></a>
      </div>
      <div class="social-item">
        <a href="#"><img src="./Imagini/icons8-instagram-48.png"></a>
      </div>
      <div class="social-item">
        <a href="#"><img src="./Imagini/icons8-linkedin-circled-50.png"></a>
      </div>
    </div>
    <p>Copyright © 2022 Animal Shelter. All Rights Reserved</p>
  </div>
</section>
<!--End Footer-->
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="./homepage.component.ts"></script>
</body>

</html>
