<!DOCTYPE html>
<html lang="zxx">


<body>

    <div class = "main-wrapper">
        <div class = "container">
            <div class = "product-div">
                <div class = "product-div-left">
                    <div class = "img-container">
                        <img src = "assets/img/6.jpg" alt = "">
                    </div>
<!--                     
                    <div class = "hover-container">
                        <div><img src = "assets/img/1.jpg"></div>
                        <div><img src = "assets/img/1-1.jpg"></div>
                    </div> -->
                </div>
                
                <div class = "product-div-right">
                    <span class = "product-name">Lulu</span>
                    <p class = "product-description">I'm a healthy 3 year old yellow gecko and I'm available for you to adopt me today! I require a minimum of a 40 gallon enclosure to live in. </p>


                    <div class = "btn-groups">
                        <button type = "button" class = "add-cart-btn"><i class="fa fa-heart"></i> add to wishlist</button>
                        <button type = "button" class = "buy-now-btn"><i class = "fa fa-paw"></i> adopt now</button>
                    </div>
                    <div class="product__details__last__option">
                        <ul>
                            <li><span>Categories: Lizards</span></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src = "assets/app.js"></script>

</body>

</html>