<nav class="navbar fixed-top navbar-expand-sm navbar-dark" style="background-color: #f3ab41">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home"
       style="text-shadow: 2px 2px #4e8cf2; color: #95baf7; font-size: 30px">
      <img src="assets/icons/dog-paw.png">
      <b> Paws Animal Shelter</b>
    </a>

    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="d-flex">
      <input
        class="form-control me-2"
        type="text"
        placeholder="Search"
        style="width: 500px"
        formControlName="searchString">
      <button
        mat-icon-button
        class="text-light"
        type="submit">
        <mat-icon>search</mat-icon>
      </button>
    </form>

    <ul class="navbar-nav navbar-right">
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/animals/all">Animals</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/quiz">Quiz</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/events">Events</a></li>
      <li>
        <button mat-icon-button
                *ngIf="loggedIn"
                class="text-light"
                [routerLink]="['users','profile']">
          <mat-icon>person</mat-icon>
          {{userLoggedIn.username}}
        </button>
      </li>
      <li>
        <button mat-icon-button
                *ngIf="loggedIn"
                class="text-light"
                [routerLink]="['wishlist']">
          <mat-icon>favorite</mat-icon>
          Wishlist
        </button>
      </li>
      <li>
        <button *ngIf="!loggedIn"
                mat-icon-button
                [routerLink]="['login']"
                class="text-light">
          <mat-icon>login</mat-icon>
          Sign in
        </button>
      </li>
      <li>
        <button *ngIf="loggedIn"
                mat-icon-button
                (click)="logout()"
                class="text-light">
          <mat-icon>logout</mat-icon>
          Sign out
        </button>
      </li>

    </ul>
  </div>
</nav>


