<nav class="navbar fixed-top navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Paws Animal Shelter</a>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/animals/all">Animals</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/quiz">Quiz</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/events">Events</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/users/:id">My Profile</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/users">Login</a></li>
    </ul>
  </div>
</nav>


