<!DOCTYPE html>
<html lang="zxx">


<body>

    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <form action="#">
                                <input type="text" placeholder="Search...">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                        </div>
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    <li><a href="#">Birds</a></li>
                                                    <li><a href="#">Cats</a></li>
                                                    <li><a href="#">Dogs</a></li>
                                                    <li><a href="#">Fish</a></li>
                                                    <li><a href="#">Hamsters</a></li>
                                                    <li><a href="#">Lizards</a></li>
                                                    <li><a href="#">Turtles</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" href="#"><img src="assets/img/1.jpg">
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="assets/img/icon/heart.png" alt="" class="add-cart"></a></li>
                                        <li><a href="/roco-details"><img src="assets/img/icon/search.png" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>Roco</h6>
                                    <a href="#" class="add-cart">+ Adopt</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" href="#"><img src="assets/img/2.jpg">
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="assets/img/icon/heart.png" alt="" class="add-cart"></a></li>
                                        <li><a href="/bob-details"><img src="assets/img/icon/search.png" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>Bob</h6>
                                    <a href="#" class="add-cart">+ Adopt</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" href="#"><img src="assets/img/3.jpg">
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="assets/img/icon/heart.png" alt="" class="add-cart"></a></li>
                                        <li><a href="/jack-details"><img src="assets/img/icon/search.png" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>Jack</h6>
                                    <a href="#" class="add-cart">+ Adopt</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item sale">
                                <div class="product__item__pic set-bg" href="#"><img src="assets/img/4.jpg">
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="assets/img/icon/heart.png" alt="" class="add-cart"></a></li>
                                        <li><a href="/kimi-details"><img src="assets/img/icon/search.png" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>Kimi</h6>
                                    <a href="#" class="add-cart">+ Adopt</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" href="#"><img src="assets/img/5.jpg">
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="assets/img/icon/heart.png" alt="" class="add-cart"></a></li>
                                        <li><a href="/toni-details"><img src="assets/img/icon/search.png" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>Toni</h6>
                                    <a href="#" class="add-cart">+ Adopt</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" href="#"><img src="assets/img/6.jpg">
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="assets/img/icon/heart.png" alt="" class="add-cart"></a></li>
                                        <li><a href="/lulu-details"><img src="assets/img/icon/search.png" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>Lulu</h6>
                                    <a href="#" class="add-cart">+ Adopt</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" href="#"><img src="assets/img/7.jpg">
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="assets/img/icon/heart.png" alt="" class="add-cart"></a></li>
                                        <li><a href="/rocky-details"><img src="assets/img/icon/search.png" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>Rocky</h6>
                                    <a href="#" class="add-cart">+ Adopt</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item sale">
                                <div class="product__item__pic set-bg" href="#"><img src="assets/img/8.jpg">
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="assets/img/icon/heart.png" alt="" class="add-cart"></a></li>
                                        <li><a href="/gheorghe-details"><img src="assets/img/icon/search.png" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>Gheorghe</h6>
                                    <a href="#" class="add-cart">+ Adopt</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" href="#"><img src="assets/img/9.jpg">
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="assets/img/icon/heart.png" alt="" class="add-cart"></a></li>
                                        <li><a href="/blu-details"><img src="assets/img/icon/search.png" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>Blu</h6>
                                    <a href="#" class="add-cart">+ Adopt</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item sale">
                                <div class="product__item__pic set-bg" href="#"><img src="assets/img/10.jpg">
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="assets/img/icon/heart.png" alt="" class="add-cart"></a></li>
                                        <li><a href="/bogdi-details"><img src="assets/img/icon/search.png" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>Bogdi</h6>
                                    <a href="#" class="add-cart">+ Adopt</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" href="#"><img src="assets/img/11.jpg">
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="assets/img/icon/heart.png" alt="" class="add-cart"></a></li>
                                        <li><a href="/luis-details"><img src="assets/img/icon/search.png" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>Luis</h6>
                                    <a href="#" class="add-cart">+ Adopt</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" href="#"><img src="assets/img/12.jpg">
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="assets/img/icon/heart.png" alt="" class="add-cart"></a></li>
                                        <li><a href="/layla-details"><img src="assets/img/icon/search.png" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>Layla</h6>
                                    <a href="#" class="add-cart">+ Adopt</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                <a class="active" href="#">1</a>
<!--                                <a href="#">2</a>-->
<!--                                <a href="#">3</a>-->
<!--                                <span>...</span>-->
<!--                                <a href="#">21</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="footer">
      <div class="footer container">
        <div class="brand">
          <h1><span>A</span>nimal <span>S</span>helter</h1>
        </div>
        <h2>You won't change the world by saving an animal, but you will change that pet's world for sure</h2>
        <div class="social-icon">
          <div class="social-item">
            <a href="#"><img src="assets/Imagini/icons8-facebook-50.png"></a>
          </div>
          <div class="social-item">
            <a href="#"><img src="assets/Imagini/icons8-instagram-48.png"></a>
          </div>
          <div class="social-item">
            <a href="#"><img src="assets/Imagini/icons8-linkedin-circled-50.png"></a>
          </div>
        </div>
        <p>Copyright © 2022 Animal Shelter. All Rights Reserved</p>
      </div>
    </section>
    <!--End Footer-->

</body>

</html>
