<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4 style="color: #4e8cf2; font-family: fantasy;">{{animal.name}}</h4>
      <p style="color: #95baf7">
        <i>
          Breed: {{animal.breed}} <br>
          Age: {{animal.age}} <br>
          Date added: {{animal.dateAdded}} <br>
        </i>
        {{animal.description}}
      </p>
      <br>

      <div *ngIf="id" style="float: right;">
        <button
          *ngIf="loggedInUserId"
          mat-button
          style="background-color: #f3ab41; color: white"
          type="button"
          (click)="onAdopt(animal.id!)">
          Adopt
        </button>
      </div>

    </div>
    <div class="col-md-6 text-end">
      <img
        style="max-width: 400px; text-align: right"
        class="image-responsive"
        [src]="animal.imagePath"
        alt="{{animal.name}}">
    </div>
  </div>
</div>
