
<!--<div class="row">-->
<!--  <div class="container">-->
<!--   <div class="col-lg-3">-->
<!--     <app-filters></app-filters>-->
<!--   </div>-->


<!-- <div class="col-md-8">-->
<!--  <app-adoptionpage-list></app-adoptionpage-list>-->
<!-- </div>-->


<!--</div>-->
<!--</div>-->




<div class="row">
  <div class="col-lg-4">
    <app-filters></app-filters>
  </div>
  <div class="col-md-8">
    <app-adoptionpage-list></app-adoptionpage-list>
  </div>
  <div class="col-md-2">
<!--&lt;!&ndash;    <app-adoptionpage-cart></app-adoptionpage-cart>&ndash;&gt;-->
  </div>
</div>
