
<!--<div class="row">-->
<!--  <div class="container">-->
<!--   <div class="col-md-2"></div>-->


<!-- <div class="col-md-8">-->
<!--  <app-adoptionpage-list></app-adoptionpage-list>-->
<!-- </div>-->

<!-- <div class="col">-->
<!--&lt;!&ndash;  <app-cart></app-cart>&ndash;&gt;-->
<!-- </div>-->
<!--</div>-->
<!--</div>-->

<div class="row">
  <div class="col">

  </div>


<div class="col-md-8">
  <app-adoptionpage-list></app-adoptionpage-list>
</div>

<div class="col">
<!--  <app-cart></app-cart>-->
</div>
</div>



<!--<body>-->
<!--    <section class="shop spad">-->
<!--        <div class="container">-->
<!--            <div class="row">-->

<!--                <div class="col-lg-3">-->
<!--&lt;!&ndash;                    <div class="shop__sidebar">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="shop__sidebar__search">&ndash;&gt;-->
<!--&lt;!&ndash;                            <form action="#">&ndash;&gt;-->
<!--&lt;!&ndash;                                <input type="text" placeholder="Search...">&ndash;&gt;-->
<!--&lt;!&ndash;                                <button type="submit"><span class="icon_search"></span></button>&ndash;&gt;-->
<!--&lt;!&ndash;                            </form>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="shop__sidebar__accordion">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="accordion" id="accordionExample">&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="card">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="card-heading">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div class="card-body">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="shop__sidebar__categories">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <ul class="nice-scroll">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <li><a href="#">Birds</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <li><a href="#">Cats</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <li><a href="#">Dogs</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <li><a href="#">Fish</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <li><a href="#">Hamsters</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <li><a href="#">Lizards</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <li><a href="#">Turtles</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                </div>-->

<!--                <div class="col-lg-10">-->
<!--                  <app-adoptionpage-list></app-adoptionpage-list>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

<!--    <section id="footer">-->
<!--      <div class="footer container">-->
<!--        <div class="brand">-->
<!--          <h1><span>A</span>nimal <span>S</span>helter</h1>-->
<!--        </div>-->
<!--        <h2>You won't change the world by saving an animal, but you will change that pet's world for sure</h2>-->
<!--        <div class="social-icon">-->
<!--          <div class="social-item">-->
<!--            <a href="#"><img src="assets/Imagini/icons8-facebook-50.png"></a>-->
<!--          </div>-->
<!--          <div class="social-item">-->
<!--            <a href="#"><img src="assets/Imagini/icons8-instagram-48.png"></a>-->
<!--          </div>-->
<!--          <div class="social-item">-->
<!--            <a href="#"><img src="assets/Imagini/icons8-linkedin-circled-50.png"></a>-->
<!--          </div>-->
<!--        </div>-->
<!--        <p>Copyright © 2022 Animal Shelter. All Rights Reserved</p>-->
<!--      </div>-->
<!--    </section>-->
<!--    &lt;!&ndash;End Footer&ndash;&gt;-->

<!--</body>-->

