 <!--Footer-->
 <section id="footer">
    <div class="footer container">
        <div class="brand">
            <h1><span>A</span>nimal <span>S</span>helter</h1>
        </div>
        <h2>You won't change the world by saving an animal, but you will change that pet's world for sure</h2>
        <div class="social-icon">
            <div class="social-item">
                <a href="#"><img src="assets/Imagini/icons8-facebook-50.png"></a>
            </div>
            <div class="social-item">
                <a href="#"><img src="assets/Imagini/icons8-instagram-48.png"></a>
            </div>
            <div class="social-item">
                <a href="#"><img src="assets/Imagini/icons8-linkedin-circled-50.png"></a>
            </div>
        </div>
        <p>Copyright © 2022 Animal Shelter. All Rights Reserved</p>
    </div>
</section>
<!--End Footer-->
