    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!--Header-->
    <section id="header">
        <div class="header">
            <div class="container">
                <div class="nav-bar">
                    <div class="brand">
                        <a href="#hero">
                            <h1><span>P</span>aws <span>A</span>nimal <span>S</span>helter </h1>
                        </a>
                    </div>
                    <div class="nav-list">
                        <div class="hamburger">
                            <div class="bar"></div>
                        </div>
                        <ul>
                            <li><a href="#" data-after="Home">Home</a></li>
                            <li><a href="#" data-after="Adopt">Adopt</a></li>
                            <li><a href="#" data-after="Animals">Animals</a></li>
                            <li><a href="#about" data-after="About">About</a></li>
                            <li><a href="#quiz" data-after="Quiz">Quiz</a></li>
                            <li><a href="#events" data-after="Events">Events</a></li>
                            <li><a href="#contact" data-after="Contact">Contact</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Header-->
