    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!--Header-->
    <section id="header">
        <div class="header">
            <div class="container">
                <div class="nav-bar">
                    <div class="brand">
                        <a href="#hero">
                            <h1><span>P</span>aws <span>A</span>nimal <span>S</span>helter </h1>
                        </a>
                    </div>
                    <div class="nav-list">
                        <div class="hamburger">
                            <div class="bar"></div>
                        </div>
                        <ul>
                            <li><a href="#" data-after="Home">Home</a></li>
                            <li><a href="#" data-after="Adopt">Adopt</a></li>
                            <li><a href="#" data-after="Animals">Animals</a></li>
                            <li><a href="#about" data-after="About">About</a></li>
                            <li><a href="#quiz" data-after="Quiz">Quiz</a></li>
                            <li><a href="#events" data-after="Events">Events</a></li>
                            <li><a href="#contact" data-after="Contact">Contact</a></li>

                             <div class="nav container">
                               <i class="fa fa-heart-o" id="cart-icon" (click)="onOpen()"></i>
                               <div class="cart" *ngIf="showCart">
                                 <h2 class="cart-title">Your wishlist</h2>
                                 <div class="cart-content">
                                   <div class="cart-box">
                                     <img src="assets/img/1.jpg" alt="" class="cart-img">
                                     <div class="detail-box">
                                       <div class="cart-product-title">Roco</div>
                                     </div>
                                     <i class="fa fa-trash cart-remove"></i>
                                   </div>
                                 </div>
                                 <button type="button" class="btn-buy">ADOPT NOW</button>

                                 <i class="fa fa-times" id="close-cart" (click)="onClose()"></i>
                               </div>
                             </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      <script src="assets/app.js"></script>
    </section>
    <!--End Header-->
<!--    link to JS-->
    <script src="assets/app.js"></script>
