






<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-lg-3">-->
<!--      <div class="shop__sidebar">-->
<!--        <div class="shop__sidebar__search">-->
<!--          <form action="#">-->

<!--            <input type="text" [(ngModel)]="searchTerm" (keyup)="search($event)" name="a" placeholder="Search...">-->
<!--            <button type="submit"><span class="icon_search"></span></button>-->
<!--                </form>-->
<!--        </div>-->
<!--        <div class="shop__sidebar__accordion">-->
<!--          <div class="accordion" id="accordionExample">-->
<!--            <div class="card">-->
<!--              <div class="card-heading">-->
<!--                <a data-toggle="collapse" data-target="#collapseOne">Categories</a>-->
<!--              </div>-->
<!--              <div id="collapseOne" class="collapse show" data-parent="#accordionExample">-->
<!--                <div class="card-body">-->
<!--                  <div class="shop__sidebar__categories">-->
<!--                    <ul class="nice-scroll">-->
<!--                      <li><a href="#">Cats</a></li>-->
<!--                      <li><a href="#">Hamsters</a></li>-->
<!--                      <li><a href="#">Dogs</a></li>-->
<!--                      <li><a href="#">Turtles</a></li>-->
<!--                      <li><a href="#">Lizards</a></li>-->
<!--                      <li><a href="#">Fish</a></li>-->
<!--                    </ul>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



<div class="container">

  <div class="shop__sidebar__search">
    <form action="#">
      <input type="text" [(ngModel)]="searchTerm" (keyup)="search($event)" name="a" placeholder="Search...">
      <button type="submit"><span class="icon_search"></span></button>
    </form>
  </div>
</div>

