.shop__sidebar {
  padding-right: 20px;
}

.shop__sidebar__search {
  margin-bottom: 331px;
  min-width: 245px;
}

.shop__sidebar__search form {
  position: relative;
}

.shop__sidebar__search form input {
  width: 100%;
  font-size: 15px;
  color: #b7b7b7;
  padding-left: 20px;
  border: 1px solid #e5e5e5;
  height: 42px;
}


.shop__sidebar__search form button {
  color: #b7b7b7;
  font-size: 15px;
  border: none;
  background: transparent;
  position: absolute;
  right: 0;
  padding: 0 15px;
  top: 0;
  height: 100%;
}


