<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <mat-card>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="was-validated">
          <div class="form-floating">
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control"
              required>
            <label for="username">Username</label>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <br>
          <div class="form-floating">
            <input
              type="password"
              id="password"
              formControlName="password"
              class="form-control"
              required>
            <label for="password">Password</label>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <br>
          <div class="form-floating">
            <input
              type="text"
              id="age"
              formControlName="age"
              class="form-control"
              required>
            <label for="age">Age</label>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <br>
          <div class="form-floating">
            <input
              type="text"
              id="address"
              formControlName="address"
              class="form-control"
              required>
            <label for="address">Address</label>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <br>
          <div class="form-floating">
            <textarea
              type="text"
              id="description"
              formControlName="description"
              class="form-control"
              required>
            </textarea>
            <label for="description">Description</label>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <br>
          <div class="form-floating">
            <input
              type="text"
              id="profilePicturePath"
              formControlName="profilePicturePath"
              class="form-control"
              required>
            <label for="profilePicturePath">Profile Picture Path</label>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <br>
          <div style="text-align: center">
            <button class="btn btn-outline-primary text-dark" type="submit">Submit</button>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
