.container {
  margin-top: 100px;
  color: black;
}

.mat-card {
  background-color: white;
  color: black;
  position: center;
  width: auto;
}

.button {
  width: auto;
}

.optionButton {
  font-size: 20px;
  padding: 20px;
  margin: 30px;
  background-color: #f3ab41;
  color: white;
  width: 300px;
}
