<!DOCTYPE html>
<html lang="zxx">


<body>


    <div class = "main-wrapper">
        <div class = "container">
            <div class = "product-div">
                <div class = "product-div-left">
                    <div class = "img-container">
                        <img src = "assets/img/9.jpg" alt = "">
                    </div>
<!--
                    <div class = "hover-container">
                        <div><img src = "assets/img/1.jpg"></div>
                        <div><img src = "assets/img/1-1.jpg"></div>
                    </div> -->
                </div>

                <div class = "product-div-right">
                    <span class = "product-name">Blu</span>
                    <p class = "product-description">Blu loves to be where her humans are and is never far from where the activity is in the house and likes to explore new places in her home. In the cold season, she needs different clothes because she is a hairless cat and Blu will be cold if she is not properly dressed.</p>
                    <div class = "btn-groups">
                        <button type = "button" class = "add-cart-btn"><i class="fa fa-heart"></i> add to wishlist</button>
                        <button type = "button" class = "buy-now-btn"><i class = "fa fa-paw"></i> adopt now</button>
                    </div>
                    <div class="product__details__last__option">
                        <ul>

                            <li><span>Categories: Cats</span></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src = "assets/app.js"></script>

</body>

</html>
