<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <mat-card>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="was-validated">
          <div class="form-floating">
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control"
              placeholder="Enter username"
              required>
            <label for="username">Username</label>
            <div class="invalid-feedback">
              Please fill out this field.
            </div>
          </div>
          <br>
          <div class="form-floating">
            <input
              type="password"
              id="password"
              formControlName="password"
              class="form-control"
              required>
            <label for="password">Password</label>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <br>
          <div style="text-align: center">
            <button class="btn btn-outline-primary text-dark" type="submit">Log In</button>
          </div>
        </form>
        <br>
        <p>
          Don't have an account?
          <a class="btn btn-outline-light text-dark" routerLink="/register">Register</a>
        </p>
      </mat-card>
    </div>
  </div>
</div>
