<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-2">
      <nav class="navbar bg-light">
        <div class="container-fluid">
          <h3>Categories</h3>
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" routerLink="/animals/all">All</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/animals/DOG">Dogs</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/animals/CAT">Cats</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/animals/RODENT">Rodents</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/animals/BIRD">Birds</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/animals/REPTILE">Reptiles</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/animals/EQUINE">Equines</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/animals/FISH">Fish</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/animals/AMPHIBIAN">Amphibians</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/animals/INSECT">Insects</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6" *ngFor="let animal of animals">
          <mat-card>
            <mat-card-title>
              {{animal.name}}
              <button
                class="btn btn-default"
                type="button"
                style="float: right;"
                (click)="onAddToWishlist(animal)"
                *ngIf="!onFavorite(animal); else enabled">
                <mat-icon [ngStyle]="{'color':'grey'}">favorite</mat-icon>
              </button>
              <ng-template #enabled>
                <button
                  class="btn btn-default"
                  type="button"
                  style="float: right;"
                  (click)="onDeleteWishlistEntry(animal)">
                  <mat-icon [ngStyle]="{'color':'red'}">favorite</mat-icon>
                </button>
              </ng-template>
            </mat-card-title>
            <mat-card-content>
              <a
                class="card-link"
                style="color: black"
                [routerLink]="['/animals/get', animal.id]">
                <img
                  class="image-responsive"
                  [src]="animal.imagePath"
                  alt="{{animal.name}}"
                  style="max-width: 300px">
              </a>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>



