#remove-item{
  cursor: pointer;
}
.cart-box{
  display: grid;
  grid-template-columns: 40% 50% 5%;
  align-items: center;
  gap: 0.1rem;
  margin-top: 0.1rem;
}

.cart-img{
  width:70px;
  height: 70px;
  object-fit: contain;
  padding: 10px;
}

.detail-box{
  display: grid;
  row-gap: 0.1rem;

}
.cart-product-title{
  font-size: 1rem;
  text-transform: uppercase;
}

.cart-remove{
  font-size: 20px;
  color: red;
  cursor: pointer;
}
