.container-fluid {
  background-image: url(../../../assets/homepage.png);
  background-size: cover;
  height: 100vh;
  position: relative;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
}

.a {
  width: 120px;
}
