<!DOCTYPE html>
<html lang="zxx">


<body>

    <div class = "main-wrapper">
        <div class = "container">
            <div class = "product-div">
                <div class = "product-div-left">
                    <div class = "img-container">
                        <img src = "assets/img/12.jpg" alt = "">
                    </div>
<!--                     
                    <div class = "hover-container">
                        <div><img src = "assets/img/1.jpg"></div>
                        <div><img src = "assets/img/1-1.jpg"></div>
                    </div> -->
                </div>
                
                <div class = "product-div-right">
                    <span class = "product-name">Layla</span>
                    <p class = "product-description">Layla's favorite things are snuggling on the couch, going for walks, watching the world go by outside and sleeping. Layla likes playing with other dogs and can run really fast around them, but she might lose interest after a while and decide sniffing around is more fun and also loves games like hide and seek, where either you hide yourself, or you hide treats for her to sniff out. Layla’s perfect home is somewhere where she will have someone to hang out with at home a lot of the time, who will take her for a few walks a day, who doesn’t have a cat or very small kids, and who is okay with a dog being on leash when going out. </p>

                    <div class = "btn-groups">
                        <button type = "button" class = "add-cart-btn"><i class="fa fa-heart"></i> add to wishlist</button>
                        <button type = "button" class = "buy-now-btn"><i class = "fa fa-paw"></i> adopt now</button>
                    </div>
                    <div class="product__details__last__option">
                        <ul>
                            <li><span>Categories: Dogs</span></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src = "assets/app.js"></script>

</body>

</html>