<!DOCTYPE html>
<html lang="zxx">


<body>

    <div class = "main-wrapper">
        <div class = "container">
            <div class = "product-div">
                <div class = "product-div-left">
                    <div class = "img-container">
                        <img src = "assets/img/11.jpg" alt = "">
                    </div>
<!--                     
                    <div class = "hover-container">
                        <div><img src = "assets/img/1.jpg"></div>
                        <div><img src = "assets/img/1-1.jpg"></div>
                    </div> -->
                </div>
                
                <div class = "product-div-right">
                    <span class = "product-name">Luis</span>
                    <p class = "product-description">Luis is a fish with a lot of energy and sometimes he tends to eat too much, so he needs a person to be very careful with him. The shelter recommends an aquarium of at least 5 gallons (19 liters)</p>


                    <div class = "btn-groups">
                        <button type = "button" class = "add-cart-btn"><i class="fa fa-heart"></i> add to wishlist</button>
                        <button type = "button" class = "buy-now-btn"><i class = "fa fa-paw"></i> adopt now</button>
                    </div>
                    <div class="product__details__last__option">
                        <ul>
                            <li><span>Categories: Fish</span></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src = "assets/app.js"></script>

</body>

</html>