<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <img [src]="user.profilePicturePath" alt="{{user.username}}" style="max-width: 300px">
    </div>
    <div class="col-sm-6">
      <h3 style="color: #4e8cf2; font-family: fantasy;">{{user.username}}</h3>
      <div style="color: #95baf7">
        <h4>Address: <i>{{user.address}}</i></h4>
        <h4>Age: {{user.age}}</h4>
      </div>
      <button mat-button type="button"
              style="background-color: #f3ab41; color: white; float: right"
              (click)="goToEditProfile()">
        <mat-icon>edit</mat-icon>
        Edit account
      </button>
    </div>
  </div>
  <hr>
  <p style="color: #4e8cf2">
    <button mat-button type="button"
            style="background-color: #f3ab41; color: white; float: right"
            (click)="goToAddAnimal()">
      <mat-icon>add_circle_outline</mat-icon>
      Put up for adoption
    </button>
  </p>

  <div class="container mt-3">
    <h2 style="color: #4e8cf2">All Your Adoptions</h2>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Breed</th>
        <th>Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let animal of animals">
        <td [routerLink]="['/animals/get', animal.id]">{{animal.name}}</td>
        <td>{{animal.type}}</td>
        <td>{{animal.breed}}</td>
        <td>pending</td>
        <button
          class="btn btn-default"
          type="button"
          (click)="removeFromAdoptions(animal)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </tr>
      </tbody>
    </table>
  </div>
</div>
