<div class="container">
  <div id="user-profile-2" class="user-profile">
<!--    <div class="tabbable">-->


      <div class="tab-content no-border padding-24">
        <div id="home" class="tab-pane in active">
          <div class="row">
            <div class="col-xs-12 col-sm-3 center">
              <span class="profile-picture">
                <img class="editable img-responsive" alt=" Avatar" id="avatar2" src="../../../assets/download.png">
<!--                <img class="editable img-responsive" alt=" Avatar" id="avatar2" [src]="user.profilePicturePath">-->
              </span>
              <div class="profile-user-info">
                <div class="profile-info-row">
                  <div class="profile-info-name"> Username</div>

                  <div class="profile-info-value">
                    <span>{{user.username}}</span>
                  </div>
                </div>

                <div class="profile-info-row">
                  <div class="profile-info-name"> Address</div>

                  <div class="profile-info-value">
                    <i class="fa fa-map-marker light-orange bigger-110"></i>
                    <span>{{user.address}}</span>
                  </div>
                </div>

                <div class="profile-info-row">
                  <div class="profile-info-name"> Age</div>
                  <div class="profile-info-value">
                    <span>{{user.age}}</span>
                  </div>
                </div>

                <div class="profile-info-row">
                  <div class="profile-info-name"> Joined</div>

                  <div class="profile-info-value">
                    <span>2010/06/20</span>
                  </div>
                </div>
              <div class="hr hr-8 dotted"></div>

              <div class="profile-user-info">
                <div class="profile-info-row">
                  <div class="profile-info-name"> Website</div>

                  <div class="profile-info-value">
                    <a href="#" target="_blank">www.avr.com</a>
                  </div>
                </div>

                <div class="profile-info-row">
                  <div class="profile-info-name">
                    <i class="middle ace-icon fa fa-facebook-square bigger-150 blue"></i>
                  </div>
                </div>

            </div><!-- /.col -->
          </div><!-- /.row -->

          <div class="space-20"></div>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="widget-box transparent">
                <div class="widget-header widget-header-small">
                  <h4 class="widget-title smaller">
                    <i class="ace-icon fa fa-check-square-o bigger-110"></i>
                    Little About Me
                  </h4>
                </div>

                <div class="widget-body">
                  <div class="widget-main">
                    <p>
                      {{user.description}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /#home -->

        <
              </div>
            </div>
          </div>
        </div>
</div>


