
<div class="card-container">
<!--  <div id="user-profile-2" class="user-profile">-->
<!--    <div class="tabbable">-->
<!--      <div class="tab-content no-border padding-24">-->
<!--        <div id="home" class="tab-pane in active">-->
          <div class="row">
            <div class="col-3">
<!--              <span class="profile-picture">-->
                <img class="editable img-responsive" alt=" Avatar" id="avatar2" src="../../../assets/download.png">
<!--                <img class="editable img-responsive" alt=" Avatar" id="avatar2" [src]="user.profilePicturePath">-->
<!--              </span>-->
              <div class="profile-user-info">
                <div class="profile-info-row">
                  <div class="profile-info-name"> First Name</div>

                  <div class="profile-info-value">
                    <span>First Name{{user.username}}</span>
                  </div>
                </div>
                <div class="profile-info-row">
                  <div class="profile-info-name">Last Name</div>

                  <div class="profile-info-value">
                    <span>First Name{{user.username}}</span>
                  </div>
                </div>

                <div class="profile-info-row">
                  <div class="profile-info-name"> Address</div>

                  <div class="profile-info-value">
                    <span>Piata Unitii{{user.address}}</span>
                  </div>
                </div>

                <div class="profile-info-row">
                  <div class="profile-info-name"> Age</div>
                  <div class="profile-info-value">
                    <span>{{user.age}}27</span>
                  </div>
                </div>
              <div class="hr hr-8 dotted"></div>


                <div class="profile-info-row">
                  <div class="profile-info-name"> Website</div>

                  <div class="profile-info-value">
                    <a href="#" target="_blank">www.avr.com</a>
                  </div>
            </div><!-- /.col -->
          </div><!-- /.row -->

          <div class="space-20"></div>
            </div>




    <div class="col-xs-12 col-sm-6">
      <div class="widget-box transparent">
        <div class="widget-header widget-header-small">
          <h4 class="widget-title smaller">
            <i class="ace-icon fa fa-check-square-o bigger-110"></i>
            Little About Me
          </h4>
          <div class=" col " >
            <div class="widget-body">
              <div class="widget-main">
                    <span>
                      {{user.description}}

                    </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
            <div class="col-3">
              <p>We will add edit button</p>
            </div>
          </div><!-- row1 -->
            </div> <!-- End of container -->
<!--          </div>-->
<!--        </div>-->
<!--</div>-->


<!--<div class="card-container">-->
<!--  <img decoding="async" class="round" alt=" Avatar" id="avatar2" src="../../../assets/download.png"/>-->
<!--  <h2>Me</h2>-->
<!--  <div class="row">-->
<!--                <div class="col-xs-12 col-sm-6">-->
<!--                  <div class="widget-box transparent">-->
<!--                    <div class="widget-header widget-header-small">-->
<!--                        <h4 class="widget-title smaller">-->
<!--                            <i class="ace-icon fa fa-check-square-o bigger-110"></i>-->
<!--                              Little About Me-->
<!--                           </h4>-->
<!--                        </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--  </div>-->
<!--  <div class="buttons">-->
<!--    <div class="bottom-section">-->
<!--&lt;!&ndash;      <div class="social-media">&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="#"><i class="fa fa-facebook fa-5x"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="#"><i class="fa fa-twitter"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="#"><i class="fa fa-instagram"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="#"><i class="fa fa-link"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--    </div>-->
<!--&lt;!&ndash;    <button class="primary ghost">&ndash;&gt;-->
<!--&lt;!&ndash;      FOLLOW ME&ndash;&gt;-->
<!--&lt;!&ndash;    </button>&ndash;&gt;-->

<!--  </div>-->
<!--</div>-->
