<!DOCTYPE html>
<html lang="zxx">


<body>

    <div class = "main-wrapper">
        <div class = "container">
            <div class = "product-div">
                <div class = "product-div-left">
                    <div class = "img-container">
                        <img src = "assets/img/10.jpg" alt = "">
                    </div>
<!--                     
                    <div class = "hover-container">
                        <div><img src = "assets/img/1.jpg"></div>
                        <div><img src = "assets/img/1-1.jpg"></div>
                    </div> -->
                </div>
                
                <div class = "product-div-right">
                    <span class = "product-name">Bogdi</span>
                    <p class = "product-description">Bogdi is very playful, is quick to learn and has figured out that sitting gets him fed faster at meal times! He is gentle and loving with humans and loves to snuggle. He needs a strong person on the other end of the lead, and one that is patient enough to work with him. He is very vocal when something catches his eye…or ears. If you are someone who appreciates those qualities, you will definitely fall for this guy.</p>
                    <div class = "btn-groups">
                        <button type = "button" class = "add-cart-btn"><i class="fa fa-heart"></i> add to wishlist</button>
                        <button type = "button" class = "buy-now-btn"><i class = "fa fa-paw"></i> adopt now</button>
                    </div>
                    <div class="product__details__last__option">
                        <ul>
                            <li><span>Categories: Dogs</span></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src = "assets/app.js"></script>

</body>

</html>