<!DOCTYPE html>
<html lang="zxx">


<body>

    <div class = "main-wrapper">
        <div class = "container">
            <div class = "product-div">
                <div class = "product-div-left">
                    <div class = "img-container">
                        <img src = "assets/img/8.jpg" alt = "">
                    </div>
<!--                     
                    <div class = "hover-container">
                        <div><img src = "assets/img/1.jpg"></div>
                        <div><img src = "assets/img/1-1.jpg"></div>
                    </div> -->
                </div>
                
                <div class = "product-div-right">
                    <span class = "product-name">Gheorghe</span>
                    <p class = "product-description">Gheorghe is funny. He likes sleeping with his eyes open and head hanging out of the hide so don't worry if you see this, he is completely fine! He's shy, but he loves to be held and doesn't bite, which is a good sign.</p>
                    <div class = "btn-groups">
                        <button type = "button" class = "add-cart-btn"><i class="fa fa-heart"></i> add to wishlist</button>
                        <button type = "button" class = "buy-now-btn"><i class = "fa fa-paw"></i> adopt now</button>
                    </div>
                    <div class="product__details__last__option">
                        <ul>

                            <li><span>Categories: Hamsters</span></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src = "assets/app.js"></script>

</body>

</html>